# Dependencies
node_modules

# Build
dist
dist-ssr
coverage

# Env (mantenha .env.example versionado)
.env
.env.local
.env.*.local

# Logs & Temp
*.log
*.pid
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
